.search-form {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-bottom: 39px;
  margin-bottom: 10px;
  border-bottom: 1px solid #424242;
}

.search-form__input {
  box-sizing: border-box;
  padding: 15px 0 15px 22px;
  background-color: #2f2f2f;
  border: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 100%;
  margin-right: 10px;
  color: #fff;
}

.search-form__error-message {
  padding-top: 10px;
  font-size: 15px;
  min-height: 13px;
  line-height: 13px;
  color: #EE3465;
}

.search-form__submit-button {
  background-image: url(../../images/find-2.svg);
  background-repeat: no-repeat;
  min-width: 70px;
  min-height: 44px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.search-form__submit-button:hover {
  opacity: 0.8;
  transform: translateX(1px);
}

.search-form__container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.search-form__input::placeholder {
  color: #8b8b8b;
}

.checkbox {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.search-form__switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  align-self: center;
}

.search-form__checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}

.search-form__slider {
  position: absolute;
  cursor: pointer;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2f2f2f;
  transition: 0.4s;
  border-radius: 20px;
}

.search-form__slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 1s linear;
  border-radius: 50%;
}

.search-form__checkbox:checked + .search-form__slider {
  background-color: #3ddc84;
}

.search-form__checkbox:checked + .search-form__slider:before {
  transform: translateX(16px);
}

.search-form__slider-name {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: white;
  margin-top: 0;
  margin-left: 12px;
  margin-bottom: 0;
}

@media screen and (max-width: 890px) {
  .section__search-form {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    padding-top: 80px;
    padding-bottom: 39px;
  }

  .search-form__switch {
    align-self: center;
  }
}

@media screen and (max-width: 450px) {
  .section__search-form {
    padding-left: 14px;
    padding-right: 14px;
  }

  .search-form {
    padding-top: 81px;
    padding-bottom: 43px;
  }

  .search-form__input {
    font-size: 12px;
    line-height: 18px;
  }

  .search-form__error-message {
    font-size: 13px;
  }

  .checkbox {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 44px;
  }

  .search-form__slider-name {
    font-size: 11px;
    line-height: 18px;
    margin-left: 13px;
  }
}
