.about-me {
  padding-top: 110px;
  padding-bottom: 101px;
}

.about-me__container {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}

.about-me__container-width {
  max-width: 600px;
}

.about-me__subtitle {
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
  margin: 0;
}

.about-me__paragraph {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
  padding-top: 18px;
  padding-bottom: 26px;
  margin: 0;
}

.about-me__text {
  font-size: 14px;
  line-height: 22px;
  margin: 0;
}

.about-me__items {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 99px 0 0;
  padding-left: 0;
}

.about-me__item {
  margin-right: 20px;
}

.about-me__item:last-of-type {
  margin-right: 0;
}

.about-me__link {
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  transition: 1s linear;
}

.about-me__link:hover {
  opacity: 0.5;
}

.about-me__photo {
  max-width: 270px;
  max-height: 327px;
  border-radius: 10px;
  margin-left: 49px;
}

@media screen and (max-width: 800px) {
  .about-me {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  .about-me__subtitle {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__paragraph {
    font-size: 12px;
    line-height: 18px;
    padding-top: 16px;
    padding-bottom: 20px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__photo {
    max-width: 255px;
    max-height: 307px;
  }

  .about-me__items {
    margin: 87px 0 0;
  }
}

@media screen and (max-width: 670px) {
  .about-me__container {
    flex-direction: column-reverse;
  }

  .about-me__subtitle {
    padding-top: 40px;
  }

  .about-me__photo {
    max-width: 292px;
    max-height: 352px;
    margin: auto;
  }
}

@media screen and (max-width: 450px) {
  .about-me {
    padding-top: 70px;
    padding-bottom: 69px;
  }

  .about-me__container {
    padding-top: 60px;
  }

  .about-me__subtitle {
    font-size: 30px;
    line-height: 36px;
  }

  .about-me__paragraph {
    font-size: 11px;
    line-height: 16px;
    padding-top: 20px;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__items {
    margin: 40px 0 0;
  }

  .about-me__item {
    padding-right: 26px;
  }
}
